body{
    background-color: goldenrod;
    text-align: center;
}

h1 {
    color:darkslategrey;
    text-align: center;
    font-size: 72px;
}

h2 {
    color:darkslategrey;
    text-align: center;
    font-size: 48px;
}
h3 {
    color:darkslategrey;
    text-align: center;
    font-size: 32px;
}

nav {
    float: left;
    width: 20%;
    background: darkslategray;
    padding: 10px;
    height: 1000px;
    color: goldenrod;
    text-align: left;
}

p {
    font-style: italic;
}

image {
    border-color: darkolivegreen;
    border-radius: 18px;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

p.one{
    overflow: hidden;
}
p.two{
    overflow: scroll;
}
#photo-viewer {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 20px auto;
    border: 5px solid #333; /* Example style */
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.thumbnails img {
    width: 100px; /* Example size */
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.thumbnails img:hover {
    opacity: 0.8;
}
ul {
    align-items:vertical;
}
button {
    background-color: gold;
    color: darkslategray;
    font-size: 24px;
    border: black;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-style:normal;
    margin: 10px 10px 10px 10px;
    
}
button:hover {
    background-color: greenyellow;
}